__pycache__/
*.py[cod]

venv/
.venv/
venv_signlang/

.vscode/

.ipynb_checkpoints/

.env
.env.*

Model/keras_model.h5

deployment/Model/keras_model.h5

deployment/backend_data/gesture_db.db

*.bak
*.backup
*.tmp
*.log

.DS_Store
Thumbs.db